body {
  background-color: black;
  color: white;
  width: 100vw;
  text-align: center;
  padding-top: 3%;
}

.ingreso {
  padding: 5%;
}

.resultados {
  padding: 5%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;

}

.resultados p {
  padding: 2%;
}

.title {
  font-size: 24px;
}

